body{
    background-color: black;
}
h2{
    color:#50d0ff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
/*.aboutme img{
    max-width: 25%;
    max-height: 15%;
    float: left;
}*/
.socials{
    padding-bottom: 20px;
    margin: auto;
    /*width:min-content;*/
    width: fit-content;
}
.socicons{
    color:coral;
    text-decoration: none;
    font-size: 30px;
    transition: 0.2s;
}

.socicons:hover{
    color:#50d0ff;
}
.mainTitle h1{
    font-weight: lighter;
}
.mainTitle {
    color: coral;
    font-family: 'Courier New', Courier, monospace;
    /*text-align: center;*/
    margin: 0 auto;
    font-size: 65px;
    height:auto;
    position: relative;
    width:max-content;
    
}

.mainTitle::before,
.mainTitle::after{
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainTitle::before{
    background: black;
    animation: typewriter 1s steps(13) 1s forwards;
}

.mainTitle::after{
    width: 0.125em;
    background: coral;
    animation: 
        typewriter 1s steps(13) 1s forwards,
        cursorblink 750ms steps(13) infinite;
}

@keyframes typewriter{
    to {left:100%;}
}

@keyframes cursorblink{
    to{
        background: transparent;
    }
}
.aboutme p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    /*float: left;*/
}
.aboutme,
.projects,
.contact,
.experience{
    padding: 30px;
}
.aboutme{
    background-color: #50d0ff;
}
.aboutme h2{
    color: black;
}

.projects{
    background-color: coral;
}
.projects h2{
    color:black;
}

.expList{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 15px;
}
.container{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projCard h4{
    text-align: center;
}
.projCard{
    background: white;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    padding: 10px;
    border-radius: 10%;
}
.contact{
    background-color: black;
}
.contact p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 22px;
    color: white;
}

.contactform{
    justify-content: center;
    display: flex;

    margin: 30px 60px;
    
}
input[type=text],
input[type=email] {
    width: 110%;
    color: black;
    border-radius: 10%;
    border: 1px solid gray;

}

textarea {
    width: 110%;
    display: inline-block;
    border-radius: 10%;
    resize: none;
    border: 1px solid gray;


}
label{
    display: inline-block;
    width: 110%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: left;
}
input[type=submit]{
    font-family: 'Courier New', Courier, monospace;
    background-color: coral;
    width: 110%;
    border-radius: 10%;
    font-size: 20px;
    border: 1px solid black;
}

/*.menu-container{
    display: flex;
    justify-content: center;
    
}

.menu{
    border: 1px solid #fff;
    width: 1500px;
    display: flex;
    justify-content: space-around;
}*/
