body{
    background-color: black;
}
h2{
    color:aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
img {
    display: block;
    height:auto;
    width: 25%;
    margin-left: auto;
    margin-right: auto;

}

.mainTitle h1{
    font-weight: lighter;
}
.mainTitle {
    color: coral;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    font-size: 65px;
    height:auto;
    position: relative;
    width:max-content;
    
}

.mainTitle::before,
.mainTitle::after{
    content: '';
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainTitle::before{
    background: black;
    animation: typewriter 1s steps(13) 1s forwards;
}

.mainTitle::after{
    width: 0.125em;
    background: coral;
    animation: 
        typewriter 1s steps(13) 1s forwards,
        cursorblink 750ms steps(13) infinite;
}

@keyframes typewriter{
    to {left:100%;}
}

@keyframes cursorblink{
    to{
        background: transparent;
    }
}
.aboutme p {
    color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width:fit-content;

}
.aboutme,
.projects,
.contact{
    padding: 37px;
}
.aboutme{
    background-color: #50d0ff;
}
.aboutme h2{
    color: black;
}
.projects{
    background-color: black;
}
.container{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.projCard h4{
    text-align: center;
}
.projCard{
    background: white;
    display: flex;
    width: 190px;
    padding: 10px;
    border-radius: 10%;
}
.contact{
    background-color: coral;
}


/*.menu-container{
    display: flex;
    justify-content: center;
    
}

.menu{
    border: 1px solid #fff;
    width: 1500px;
    display: flex;
    justify-content: space-around;
}*/
